body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  padding-top: 10px;
  padding-right: 10px;
  border: 1px solid black;
  text-align: right;
  position: relative;
  height: 50px;
}

p .left {
  float: left;
  margin-right: 10px;
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;

}

p .right {
  float: right;
  margin-left: 10px;
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;

}
